
<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">CENSO 2024</a>
                {% if user.is_authenticated %}
                 <img style="height: 60px" src="{{ user.avatar.imagen.url }}" alt="">
                <h5>User: {{ user.get_username }}</h5>
                {% else %}
                <a class="btn btn-brand" href="/accounts/login/">INGRESAR</a>
                {% endif %}
                <a class="btn btn-brand" href="/app/agregar/">AGREGAR</a>
                <a class="btn btn-brand" href="/app/lista/">LISTA DE PERSONAS</a>
                <a class="btn btn-primary" href="/accounts/register/">REGISTRARSE</a>
                <a class="btn btn-primary" href="/accounts/avatar">AVATAR</a>
                <a class="btn btn-primary" href="/accounts/logout/">SALIR</a>
            </div>
        </nav>